<div
	class="
		col-xs-10
		offset-xs-1
		col-sm-6
		offset-sm-3
		col-md-4
		offset-md-4
		col-lg-2
		offset-lg-5
		m-auto
	"
>
	<div class="card" style="width: 50vw">
		<div class="card-header bg-primary text-white">Login</div>
		<div class="card-body">
			<!-- <h5 class="card-title">Card title</h5> -->
			<!-- <p class="card-text">
                Some quick example text to build on the card
                title and make up the bulk of the card's
                content.
            </p> -->
			<div class="form-group">
				<label for="email">email</label>
				<input
					data-ng-model="loginData.email"
					type="email"
					name="email"
					id="email"
					class="form-control"
				/><small id="emailHelp" class="form-text text-muted"
					>We'll never share your email with anyone else.</small
				>
			</div>
			<div class="form-group">
				<label for="password">password</label>
				<input
					data-ng-model="loginData.pass"
					type="password"
					name="password"
					id="password"
					class="form-control"
				/><small id="passwordHelp" class="form-text text-muted"
					>Password must min. 5 character long.</small
				>
			</div>
		</div>
		<div class="card-footer bg-disabled border-primary">
			<button
				class="btn btn-primary float-right"
				data-ng-click="doLogin(loginData)"
			>
				login <i class="fas fa-sign-in-alt"></i>
			</button>
		</div>
	</div>
</div>
